body {
  font-family: var(--document-font);
  font-style: normal;
  background-color: var(--common-backgound-color);
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

ul {
  list-style: none;
  display: flex;
}

.container {
  margin: 0 auto;
  width: 1200px;
}

content_block {
  padding-top: 94px;
  padding-left: 15px;
  padding-right: 15px;
  display: block;
}

.content_block_items {
  margin-top: 50px;
  padding-top: 0;
  display: flex;
  justify-content: space-between;
}

.header {
  display: flex;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  justify-content: space-between;
}

.header-contacts {
  align-items: center;
  justify-content: flex-end;
  display: flex;
}

.header-link {
  display: flex;
  align-items: center;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: var(--grey-text);
  text-decoration: none;
  margin-left: 50px;
  padding: 2px;
  transition-property: color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  padding-top: 32px;
  padding-bottom: 32px;
}

.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
}

.header-list-icon {
  width: 16px;
  height: 14px;
  margin-right: 10px;
  fill: var(--grey-text);
}

.menu_underscore {
  border: 1px solid #ececec;
  margin: 0 auto;
}

.navigation {
  display: flex;
  justify-items: flex-end;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 0.143;
  letter-spacing: 0.02em;
  justify-content: space-between;
}

.navigation-list-item {
  color: var(--dark-text);
  text-decoration: none;
  margin-right: 50px;
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
}

.navigation-list-item-selected {
  color: var(--accent-color);
}

.navigation-list-item-selected::after {
  content: "";
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
}

.footer {
  color: white;
  background: var(--dark-backround);
}

.footer_block {
  padding-left: 15px;
  padding-bottom: 15px;
  padding-top: 60px;
  padding-bottom: 60px;
  margin: 0 auto;
  display: flex;
}

.footer_logo,
.footer_logo:visited {
  color: white;
}

.footer_address {
  font-style: normal;
  font-weight: normal;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.footer_link {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  margin-top: 9px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer_link:hover,
.footer_link:focus {
  color: var(--blue-text);
}

.footer_social {
  width: 206px;
  margin-left: 70px;
}

.footer h3 {
  padding-top: 12px;
  padding-bottom: 20px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.footer_social > div > a {
  fill: white;
  background-color: rgba(255, 255, 255, 0.1);
}

/*# sourceMappingURL=file:///d:/%D0%94%D0%BE%D0%BA%D1%83%D0%BC%D0%B5%D0%BD%D1%82%D1%8B/%D0%9E%D0%BB%D1%8F/GitHub/goit-markup-hw-07/css/main.css.map *//*# sourceMappingURL=main.css.map */