:root {
  --common-backgound-color: white;
  --dark-backround: #2f303a;
  --grey-backround: #f5f4fa;
  --blue-logo: #2196f3;
  --white-logo: white;
  --black-logo: black;
  --button-color-blue: #2196f3;
  --button-color-grey: #f5f4fa;
  --button-text-color: white;
  --dark-text: #212121;
  --blue-text: #2196f3;
  --grey-text: #757575;
  --document-font: Roboto;
  --logo-font: Raleway;
}

body {
  font-family: var(--document-font);
  font-style: normal;
  background-color: var(--common-backgound-color);
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

ul {
  list-style: none;
  display: flex;
}

.container {
  margin: 0 auto;
  width: 1600px;
}

.footer {
  color: white;
  background: var(--dark-backround);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer_block {
  width: 1200px;
  padding-left: 15px;
  padding-bottom: 15px;
  padding-top: 60px;
  padding-bottom: 60px;
  margin: 0 auto;
}

.footer_logo,
.footer_logo:visited {
  color: white;
}

.footer_address {
  font-style: normal;
  font-weight: normal;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.footer_link {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  margin-top: 9px;
}

.footer_link:hover,
.footer_link:focus {
  color: var(--blue-text);
}

.header {
  display: flex;
  margin: 0 auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 25px;
  padding-bottom: 25px;
  justify-content: space-between;
}

.menu_underscore {
  border: 1px solid #ececec;
  margin: 0;
}

.navigation {
  display: flex;
  justify-items: flex-end;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 0.143;
  letter-spacing: 0.02em;
  justify-content: space-between;
}

.navigation-list-item {
  color: var(--dark-text);
  text-decoration: none;
  margin-right: 50px;
}

.navigation-list-item-selected {
  color: var(--blue-text);
}

.header-contacts {
  align-items: center;
  justify-content: flex-end;
  display: flex;
}

.header-link:hover,
.header-link:focus {
  color: var(--blue-text);
}

.header-link {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: var(--grey-text);
  text-decoration: none;
  margin-left: 50px;
}

.logo {
  font-size: 26px;
  font-family: var(--logo-font);
  font-weight: bold;
  line-height: 1.192;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.logo_header,
.logo_header:visited {
  color: black;
  margin-right: 93px;
}

.logo-blue {
  color: var(--blue-logo);
}

.main_page_top {
  background: var(--dark-backround);
  color: white;
  padding: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.caption {
  width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.364;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.order_service_button {
  margin-top: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 32px;
  padding-right: 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-family: var(--document-font);
  font-weight: bold;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  background-color: var(--button-color-blue);
  color: var(--button-text-color);
}

.porfolio_button {
  margin: 4px;
  font-family: var(--document-font);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
  border: none;
  padding-left: 22px;
  padding-right: 22px;
  padding-top: 6px;
  padding-bottom: 6px;
  background-color: var(--button-color-grey);
  border-radius: 4px;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.porfolio_button:hover,
.porfolio_button:focus {
  color: white;
  background-color: var(--button-color-blue);
}

.content_block {
  width: 1170px;
  padding-top: 94px;
  display: block;
}

.content_block_items {
  margin-top: 50px;
  padding-top: 0;
  display: flex;
  justify-content: space-between;
}

/* our_features */
.our_features > li {
  width: 270px;
}

.our_features > li > h3 {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--dark-text);
}

.our_features > li > p {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--grey-text);
  margin-top: 10px;
}

/* ABOUT */

.about_header {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--dark-text);
}

.about_us {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--grey-backround);
  margin-top: 94px;
}

.about_us_items > li {
  width: 270px;
  padding-bottom: 30px;
  background: white;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.about_us_items > li > h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.187;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--dark-text);
  margin-top: 30px;
}

.about_us_items > li > p {
  font-size: 16px;
  line-height: 1.187;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--grey-text);
  margin-top: 10px;
}

.about_us_items > li > img {
  width: 270px;
}

.portfolio_filter {
  justify-content: center;
}

.portfolio_items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 30px;
  margin-bottom: 94px;
}

.portfolio_items > li {
  margin-top: 30px;
  padding-bottom: 20px;
  width: 370px;
  background: white;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
}

.portfolio_items > li > h3 {
  font-weight: bold;
  font-size: 2;
  line-height: 36px;
  letter-spacing: 0.06em;
  color: var(--dark-text);
  margin-top: 20px;
  margin-left: 24px;
}

.portfolio_items > li > p {
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: var(--grey-text);
  margin-top: 4px;
  margin-left: 24px;
}

.portfolio_items > ul > li > img {
  width: 370px;
  height: 294;
}
