:root {
  --common-backgound-color: white;
  --dark-backround: #2f303a;
  --grey-backround: #f5f4fa;
  --blue-logo: #2196f3;
  --white-logo: white;
  --black-logo: black;
  --button-color-blue: #2196f3;
  --button-color-grey: #f5f4fa;
  --button-text-color: white;
  --dark-text: #212121;
  --blue-text: #2196f3;
  --grey-text: #757575;
  --document-font: Roboto;
  --logo-font: Raleway;
  --accent-color: #2196f3;
}

body {
  font-family: var(--document-font);
  font-style: normal;
  background-color: var(--common-backgound-color);
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

ul {
  list-style: none;
  display: flex;
}

.container {
  margin: 0 auto;
  width: 1200px;
}

.content_block {
  padding-top: 94px;
  padding-left: 15px;
  padding-right: 15px;
  display: block;
}

.content_block_items {
  margin-top: 50px;
  padding-top: 0;
  display: flex;
  justify-content: space-between;
}

.header {
  display: flex;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  justify-content: space-between;
}

.menu_underscore {
  border: 1px solid #ececec;
  margin: 0 auto;
}

.navigation {
  display: flex;
  justify-items: flex-end;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 0.143;
  letter-spacing: 0.02em;
  justify-content: space-between;
}

.navigation-list-item {
  color: var(--dark-text);
  text-decoration: none;
  margin-right: 50px;
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
}

.navigation-list-item-selected {
  color: var(--accent-color);
}

.navigation-list-item-selected::after {
  content: "";
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
}

.header-contacts {
  align-items: center;
  justify-content: flex-end;
  display: flex;
}

.header-link {
  display: flex;
  align-items: center;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: var(--grey-text);
  text-decoration: none;
  margin-left: 50px;
  padding: 2px;
  transition-property: color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  padding-top: 32px;
  padding-bottom: 32px;
}

.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
}

.header-list-icon {
  width: 16px;
  height: 14px;
  margin-right: 10px;
}

.footer {
  color: white;
  background: var(--dark-backround);
}

.footer_block {
  padding-left: 15px;
  padding-bottom: 15px;
  padding-top: 60px;
  padding-bottom: 60px;
  margin: 0 auto;
  display: flex;
}

.footer_logo,
.footer_logo:visited {
  color: white;
}

.footer_address {
  font-style: normal;
  font-weight: normal;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.footer_link {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  margin-top: 9px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer_link:hover,
.footer_link:focus {
  color: var(--blue-text);
}

.footer_social {
  width: 206px;
  margin-left: 70px;
}

.footer_social > h3 {
  padding-top: 12px;
  padding-bottom: 20px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.footer_social > div > a {
  fill: white;
  background-color: rgba(255, 255, 255, 0.1);
}

.logo {
  font-size: 26px;
  font-family: var(--logo-font);
  font-weight: bold;
  line-height: 1.192;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.logo_header,
.logo_header:visited {
  color: black;
  margin-right: 93px;
  height: 100%;
  display: flex;
  align-items: center;
}

.logo-blue {
  color: var(--blue-logo);
}

.main_page_top {
  background: var(--dark-backround);
  color: white;
  padding-top: 200px;
  padding-bottom: 200px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  outline: 1px solid black;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/main_banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.main_page_top > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.caption {
  width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.364;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.order_service_button {
  margin-top: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 32px;
  padding-right: 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-family: var(--document-font);
  font-weight: bold;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  background-color: var(--button-color-blue);
  color: var(--button-text-color);
  margin-top: 40px;
}

.porfolio_button {
  margin: 4px;
  font-family: var(--document-font);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
  border: none;
  padding-left: 22px;
  padding-right: 22px;
  padding-top: 6px;
  padding-bottom: 6px;
  background-color: var(--button-color-grey);
  border-radius: 4px;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.porfolio_button:hover,
.porfolio_button:focus {
  color: white;
  background-color: var(--button-color-blue);
}

/* our_features */
.our_features > li {
  width: 270px;
}

.our_features > li > div {
  width: 270px;
  height: 120px;
  outline: 1px solid white;
  background: var(--grey-backround);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.our_features > li > div > svg {
  width: 70px;
  height: 70px;
}

.our_features > li > h3 {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--dark-text);
}

.our_features > li > p {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--grey-text);
  margin-top: 10px;
  margin-bottom: 30px;
}

/* ABOUT */

.about_header {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--dark-text);
}

.about_header_items > li > h3 {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: white;
  background-color: rgba(47, 48, 58, 0.8);
  padding: 27px 0;
}

.about_header_items > li {
  position: relative;
  display: flex; /* to avoid empty space bottom of a image withtin */
}

.about_us {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--grey-backround);
  margin-top: 94px;
}

.about_us_items > li {
  width: 270px;
  padding-bottom: 30px;
  background: white;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.about_us_items > li > h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.187;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--dark-text);
  margin-top: 30px;
}

.about_us_items > li > p {
  font-size: 16px;
  line-height: 1.187;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--grey-text);
  margin-top: 10px;
  margin-bottom: 16px;
}

.about_us_items > li > img {
  width: 270px;
}

.social_links {
  display: flex;
  justify-content: center;
}

.social_links > a {
  width: 44px;
  height: 44px;
  display: flex;
  border-radius: 50%;
  fill: #afb1b8;
  transition-property: fill, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social_links > a:nth-child(n + 2) {
  margin-left: 10px;
}

.social_links > a:hover,
.social_links > a:focus {
  fill: white;
  background-color: var(--accent-color);
}

.portfolio_filter {
  justify-content: center;
}

.portfolio_items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 30px;
  margin-bottom: 94px;
}

.portfolio_items > li {
  margin-top: 30px;
}

.portfolio_items > li > a {
  padding-bottom: 20px;
  width: 370px;
  background: white;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: max-content;
  width: fit-content;
  text-decoration: none;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio_items > li > a:hover,
.portfolio_items > li > a:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio_items > li > a > h3 {
  font-weight: bold;
  font-size: 2;
  line-height: 36px;
  letter-spacing: 0.06em;
  color: var(--dark-text);
  margin-top: 20px;
  margin-left: 24px;
}

.portfolio_items > li > a > p {
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: var(--grey-text);
  margin-top: 4px;
  margin-left: 24px;
}

.portfolio_items > li > a > img {
  width: 370px;
  height: 294px;
}

.regular_customers {
  padding: 94px;
}

.regular_customers > h2 {
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
}

.regular_customers > ul {
  padding-top: 50px;
  display: flex;
  justify-content: center;
}

.regular_customers > ul > li {
  width: 170px;
  height: 90px;
  margin-right: 15px;
  margin-left: 15px;
}

.regular_customers > ul > li > a {
  display: flex;
  transition-property: fill, border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  width: 170px;
  height: 90px;
  fill: #afb1b8;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
}

.regular_customers > ul > li > a:hover,
.regular_customers > ul > li > a:focus {
  fill: var(--accent-color);
  border-color: var(--accent-color);
}

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: all 500ms linear;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  min-height: 581px;
  background-color: white;
}

.modal_close_button {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal_close_button > svg {
  width: 11px;
  height: 11px;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}