:root {
  --dark-backround: #2f303a;
  --blue-logo: #2196f3;
  --white-logo: white;
  --black-logo: black;
  --button-color: #2196f3;
  --button-color-inactive: #F5F4FA;
  --button-text-color: white;
  --dark-text: #212121;
  --blue-text: #2196f3;
  --grey-text: #757575;
  --document-font: Roboto;
  --logo-font: Raleway;
}

body {
    font-family: var(--document-font);
    font-style: normal;
}

h1
h2
h3
h4
h5
h6{
  margin:0;
}

ul,
ol{
  margin:0;
  padding:0;
}

p{
  margin:0;
}

ul {
  list-style: none;
}

.footer {
  color: white;
  background: var(--dark-backround);
}

.footer_address {
  font-style: normal;
  font-weight: normal;
}

.footer_link {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

.footer_link:hover, .footer_link:focus {
  color: var(--blue-text);
}

.header{
  display:flex;
  align-items:center;
}

.navigation {
  font-weight: 500;
  font-size: 14px;
  line-height: 0.143;
  letter-spacing: 0.02em;
}

.navigation-list-item {
  color: var(--dark-text);
  text-decoration: none;
}

.navigation-list-item-selected {
  color: var(--blue-text);
  text-decoration: none;
}

.header-link:hover, .header-link:focus {
  color: var(--blue-text);
}

.header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: var(--grey-text);
  text-decoration: none;
}

.logo {
  font-size: 26px;
  font-family: var(--logo-font);
  font-weight: bold;
  line-height: 1,192;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.logo_header,
.logo_header:visited {
  color: black;
}

.logo_footer,
.logo_footer:visited {
  color: white;
}

.logo-blue {
  color: var(--blue-logo);
}

.main_page_top {
  background: var(--dark-backround);
  color: white;
}

.caption {
  font-weight: 900;
  font-size: 44px;
  line-height: 1,364;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.order_service_button {
  font-family: var(--document-font);
  font-weight: bold;
  font-size: 16px;
  line-height: 1,875;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  background-color: var(--button-color);
  color: var(--button-text-color);
}

.porfolio_button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1,625;
  text-align: center;
  letter-spacing: 0.03em;
  border: none;
  padding: 0;
  background-color: var(--button-color-inactive);
  border-radius: 4px;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.porfolio_button:hover, .porfolio_button:focus {
  color: white;
  background-color: var(--button-color);
}

/* our_features */

.our_features_header {
  font-weight: bold;
  font-size: 14px;
  line-height: 1,143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--dark-text);
}

.our_features_description {
  font-weight: normal;
  font-size: 14px;
  line-height: 1,143;
  letter-spacing: 0.03em;
  color: var(--grey-text);
}

/* ABOUT */

.about_header {
  font-weight: bold;
  font-size: 36px;
  line-height: 1,167;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--dark-text);
}

.about_item_header {
  font-weight: 500;
  font-size: 16px;
  line-height: 1,187;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--dark-text);
}

.about_item_text {
  font-size: 16px;
  line-height: 1,187;
  text-align: center;
  letter-spacing: 0.03em;
}

.product_item_header {
  font-weight: bold;
  font-size: 2;
  line-height: 36px;
  letter-spacing: 0.06em;
  color: var(--dark-text);
}

.product_item_type {
  font-size: 16px;
  line-height: 1,875;
  letter-spacing: 0.03em;
  color: var(--grey-text);
}
