.navigation {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.333;
    letter-spacing: 0.02em;
}
.navigation-list-item{
    color: #212121;;
}

.navigation-list-item:hover,
.navigation-list-item:focus {
    color: #2196F3;
}

.header-mail{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.333;
    letter-spacing: 0.02em;
    color: #2196F3;
}
.header-phone{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.333;
    letter-spacing: 0.02em;
    color: #757575;
}

.logo {
    font-style: bold;
}

.logo-accent1{
    color: #2196F3;
}
.logo-accent2{
    color: black;
}

