.caption {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.615;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  padding: 60px;
  color: $color-main_page_top_text;
}

//   width: 696px;
//   font-weight: 900;
//   font-size: 44px;
//   line-height: 1.364;
//   text-align: center;
//   letter-spacing: 0.06em;
//   text-transform: uppercase;
// }
