.content_block {
  padding-top: 94px;
  padding-left: 15px;
  padding-right: 15px;
  display: block;
  
  &_items {
    margin-top: 50px;
    padding-top: 0;
    display: flex;
    justify-content: space-between;
  }
}
