.content_block {
  padding: 60px 15px;

  &_items {
    padding-top: 0;
  }
}

@media screen and (min-width: 1200px) {
  .content_block {
    display: block;
    &_items {
      display: flex;
      justify-content: space-between;
      margin-top: 94px;
    }
  }
}
