.footer {
  background: $color-background-footer;
  color: $color-footer-text;

  &_block {
    text-align: center;
    padding: 60px 15px;

    & h3 {
      margin-top: 60px;
    }
  }

  &_logo,
  &_logo:visited {
    color: white;
    margin: 0 auto;
  }

  &_address {
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
  }

  &_link {
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    margin-top: 9px;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      color: $color-accent;
    }
  }
  &_social {
    & > div > a {
      fill: $color-footer-social;
      background-color: $color-footer-social-background;
    }
  }

  & h3 {
    //padding-top: 12px;
    padding-bottom: 20px;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }
}

@media screen and (min-width: 768px) {
  .footer {
    &_block {
      display: flex;
    }
    &_address {
      width: 231px;
    }
    &_social {
      margin-top: 8px;
      & > h3 {
        margin-top: 0;
      }
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer {
    &_block {
      flex-wrap: wrap;
      justify-content: space-between;
      padding-left: 76px;
      padding-right: 89px;
    }
  }
}

@media screen and (min-width: 1200px) {
  .footer {
    &_block {
      text-align: left;
    }
    &_social {
      margin-left: 70px;
    }
  }
}

// .footer {
//   color: $color-footer-text;
//   background: $color-background-footer;

//   &_block {
//     padding-bottom: 15px;
// padding-left: 15px;
//     padding-top: 60px;
//     padding-bottom: 60px;
//     margin: 0 auto;
//     display: flex;
//   }

//   &_logo,
//   &_logo:visited {
//     color: white;
//   }

//   &_address {
//     font-style: normal;
//     font-weight: normal;
//     margin-top: 20px;
//     display: flex;
//     flex-direction: column;
//   }

//   &_link {
//     color: rgba(255, 255, 255, 0.6);
//     text-decoration: none;
//     margin-top: 9px;
//     transition-property: color;
//     transition-duration: 250ms;
//     transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

//     &:hover,
//     &:focus {
//       color: $color-accent;
//     }
//   }

//   &_social {
//     width: 206px;
//     margin-left: 70px;

//     & > div > a {
//       fill: $color-footer-social;
//       background-color: $color-footer-social-background;
//     }
//   }

//   & h3 {
//     padding-top: 12px;
//     padding-bottom: 20px;
//     font-weight: bold;
//     font-size: 14px;
//     line-height: 1.143;
//     letter-spacing: 0.03em;
//     text-transform: uppercase;
//   }
// }
