.header {
  display: flex;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  justify-content: space-between;

  &-contacts {
    align-items: center;
    justify-content: flex-end;
    display: flex;
  }

  &-link {
    display: flex;
    align-items: center;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.02em;
    color: $color-header-link;
    fill: $color-header-link;
    text-decoration: none;
    margin-left: 50px;
    padding: 2px;
    transition-property: color, fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    padding-top: 32px;
    padding-bottom: 32px;

    &:hover,
    &:focus {
      color: $color-accent;
      fill: $color-accent;
    }
  }

  &-list-icon {
    width: 16px;
    height: 14px;
    margin-right: 10px;
  }
}
