.header {
  display: flex;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  justify-content: space-between;

  &-logo,
  &-logo:visited {
    color: black;
    margin-right: 88px;
    height: auto;
    display: flex;
    align-items: center;
  }

  &-contacts {
    display: none;
  }

  &-navigation {
    display: none;
  }

  &-menu-button {
    display: inline-flex;
    margin: 0;
    padding: 10px 0;
    border: 0;
    line-height: 0;
    background: transparent;

    &:hover,
    &:focus {
      fill: $color-accent;
    }

    & .icon-close-button {
      display: none;
    }

    & .is-open .icon-close-button {
      display: block;
    }

    & .is-open .icon-menu {
      display: none;
    }
  }
}

.menu-container {
  display: none;
  top: 80px;
  width: 100%;
  height: 100%;
  background-color: $color-background;
  padding: 20px;
  text-align: center;
  font-size: 20px;

  & .is-open {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .header {
    &-menu-button {
      display: none;
    }
    &-logo {
      padding: 26px 0;
    }
    &-navigation {
      display: flex;
      justify-items: flex-end;
      align-items: center;
      font-weight: 500;
      font-size: 14px;
      line-height: 0.143;
      letter-spacing: 0.02em;
      justify-content: space-between;
      &-item {
        color: $color-navigation-list-item;
        text-decoration: none;
        margin-right: 50px;
        position: relative;
        height: 100%;
        display: flex;
        align-items: center;

        &-selected {
          color: $color-accent;
        }

        &-selected::after {
          content: "";
          position: absolute;
          bottom: 0;
          display: block;
          width: 100%;
          height: 4px;
          background-color: $color-accent;
          border-radius: 2px;
        }
      }
    }
    &-contacts {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: start;
      margin-left: 34px;
      padding: 21px 0;
    }
    &-link {
      align-items: left;
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      line-height: 1.171;
      letter-spacing: 0.02em;
      color: $color-header-link;
      fill: $color-header-link;
      text-decoration: none;
      transition-property: color, fill;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

      &:hover,
      &:focus {
        color: $color-accent;
        fill: $color-accent;
      }

      &-icon {
        width: 14px;
        height: 10px;
        margin-right: 8px;
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  .header {
    &-logo {
      margin-right: 93px;
      padding: 25px 0;
    }
    &-contacts {
      justify-content: flex-end;
      padding: 0;
    }

    &-link {
      display: flex;
      align-items: center;
      margin-left: 50px;
      font-size: 14px;
      line-height: 1.143;
      padding: 32px 2px;
      &-icon {
        width: 16px;
        height: 14px;
        margin-right: 10px;
      }
    }
  }
}

// .menu-container {
//   position: absolute;
//   top: 100%;
//   left: 0;
//   width: 100%;
//   background-color: $color-background;
//   padding: 20px;
//   text-align: center;
//   font-size: 20px;
// }
//   &-contacts {
//     align-items: center;
//     justify-content: flex-end;
//     display: flex;
//   }

//   &-link {
//     display: flex;
//     align-items: center;
//     font-style: normal;
//     font-weight: 500;
//     font-size: 14px;
//     line-height: 1.143;
//     letter-spacing: 0.02em;
//     color: $color-header-link;
//     fill: $color-header-link;
//     text-decoration: none;
//     margin-left: 50px;
//     padding: 2px;
//     transition-property: color, fill;
//     transition-duration: 250ms;
//     transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
//     padding-top: 32px;
//     padding-bottom: 32px;

//     &:hover,
//     &:focus {
//       color: $color-accent;
//       fill: $color-accent;
//     }
//   }

//   &-list-icon {
//     width: 16px;
//     height: 14px;
//     margin-right: 10px;
//   }
