.order_agrimment {
  font-size: 12px;
  line-height: 1.166;
  letter-spacing: 0.03em;
  color: $color-order-agreement-text;
  margin: 20px auto 0;
  vertical-align: text-top;

  & > a {
    color: $color-accent;
  }

  & > input {
    display: inline-block;
    width: 16px;
    height: 15px;
    border: 2px solid #212121;
    margin: 0 7px 0 0;
  }
  @media screen and (min-width: 1200px) {
    & {
      font-size: 14px;
      line-height: 1.714;
    }
  }
}
