.order_agrimment {
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--dark-text);
  margin: 20px auto 0;
}

.order_agrimment > a {
  color: var(--blue-text);
}

.order_agrimment > input {
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  margin-right: 7px;
}
