.order_dialog_send_button {
  display: block;
  margin: 30px auto 0;
  height: 50px;
  width: 200px;
  border-radius: 4px;
  background-color: $color-order-dialog-send-button;
  color: $color-order-dialog-send-button-text;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  align-items: center;
  letter-spacing: 0.06em;
  line-height: 1.87;
}
