/* our_features */
.our_features > li {
  width: 270px;

  & > div {
    width: 270px;
    height: 120px;
    outline: 1px solid white;
    background: var(--grey-backround);
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;

    & > svg {
      width: 70px;
      height: 70px;
    }
  }

  & > h3 {
    font-weight: bold;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--dark-text);
  }

  & > p {
    font-weight: normal;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    color: var(--grey-text);
    margin-top: 10px;
    margin-bottom: 30px;
  }
}
