$font-main: Roboto;
$font-logo: Raleway;
$color-potfolio-button: #f5f4fa;
$color-button-accent: #2196f3;
$color-accent: #2196f3;
$color-background: white;
$color-overlay-text: white;
$color-overlay-background: rgba(47, 48, 58, 0.8);
$color-title: #212121;
$color-about-us-background: #f5f4fa;
$color-text: #757575;
$color-backdrop: rgba(0, 0, 0, 0.2);
$color-button: #2196f3;
$color-button-text: white;
$color-portfolio-button: #f5f4fa;
$color-background-footer: #2f303a;
$color-footer-text: white;
$color-footer-social: white;
$color-footer-social-background: rgba(255, 255, 255, 0.1);
$color-header-link: #757575;
$color-main-page-top-background: #2f303a;
$color-main-page-top-text: white;
$color-navigation-list-item: #212121;
$color-order-agreement-text: #212121;
$color-order-dialog-send-button: #2196f3;
$color-order-dialog-send-button-text: white;
$color-order-dialog-background: white;
$color-order-dialog-title: #212121;
$color-order-dialog-field: #757575;
$color-order-dialog-textarea: rgba(117, 117, 117, 0.5);
$color-order-dialog-textarea-text: #212121;
$color-our-features-background: #f5f4fa;
$color-our-features-title: #212121;
$color-our-features-text: #757575;
$color-portfolio-items-background: white;
$color-portfolio-title: #212121;
$color-portfolio-text: #757575;
$color-portfolio-item-overlay-text: white;
